@media (max-width: 768px) {
    .skills-items {
        width: 100%;
        padding: 40px;
        margin-top: 20px;
    }


    .skills-nav {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        /* <- centraliza os botões */
        margin: 0 auto;
        width: 100%;
        gap: 10px;
        /* opcional: espaço entre os botões */
        margin-bottom: 5vh;
    }

    .skills-nav button {
        width: 100%;
        max-width: 300px;
        /* limita a largura no centro */
        text-align: center;
    }




}