.formation-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: black;

}

.formation-container h3 {
    text-align: center;
}

.formation-container h4 {
    margin-bottom: 10px;
    margin-left: 22%;

}


.formation-container h5 {
    margin-left: 25%;
}

.formation-container h6 {
    margin-left: 30%;
    margin-right: 30%;
}

.formation-container .placeblock {
    padding: 20px 50px 20px 50px;
    background-color: aliceblue;
    margin: 20px auto 20px auto;
    width: 50%;
    border-radius: 10px;
}

.formation-container .placeblock h6 {
    margin: 0px 0px 0px 0px;
    color: black;
}

.formation-container .placeblock h5 {
    color: black;
    margin-left: 0px;
}



.formation-container .placeblock p {
    color: black;
}

.formation-container .placeblock .date {
    margin-left: 20%;
}

.formation-container .placeblock ul, li {
    margin-left: 0px;
    margin-right: 0px;

}

.formation-container .placeblock img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.formation-content {
    position: relative;
    /* cria o contexto para o absolute */
    /* afasta todo o conteúdo da linha */
    margin-top: 50px;
    /* se você quiser espaçamento entre blocos */
}

.formation-content .date-line {
    top: 0;
    /* começa no topo do bloco */
    bottom: 0;
    /* estica até o final do bloco */
    margin-left: 22%;
    /* ajusta o 2025 pra ficar à esquerda da linha */

    width: 2px;
    /* espessura da linha */
    background-color: #ccc;
    /* cor da linha */
}

.formation-content .date-line .year {
    top: 0;
    /* fixa o texto lá em cima */
    background: none;
    /* remova fundo se não precisar */
    color: white;
    font-weight: bold;
    padding: 0 4px;
}

.year {
    display: flex;
    align-items: center;
    width: 90px;
}