.formation-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: black;

}

.formation-container h3 {
    text-align: center;
}

.formation-container h4 { 
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 22%;

}


.formation-container h5 {
    margin-left: 25%;
}

.formation-container h6 {
    margin-left: 30%;
    margin-right: 30%;
}

.formation-container .placeblock {
    padding: 20px 50px 20px 50px;
    background-color: aliceblue;
    margin: 20px auto 20px auto;
    width: 50%;
    border-radius: 10px;
}

.formation-container .placeblock h6 {
    margin: 0px 0px 0px 0px;
    color: black;
}

.formation-container .placeblock h5 {
    color: black;
    margin-left: 0px;
}



.formation-container .placeblock p {
    color: black;
}

.formation-container .placeblock .date {
    margin-left: 20%;
}

.formation-container .placeblock ul,
li {
    margin-left: 0px;
    margin-right: 0px;

}

.formation-container .placeblock img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.formation-content {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}
.formation-content .date-line {
    position: absolute;
    top: 0;
    /* margin-top: 40px; */
    bottom: 0;
    left: 20%;
    width: 2px;
    background-color: aliceblue;
    z-index: 0;
}

.formation-content .date-line .year {
    position: absolute;
    top: -40px;
    left: 50%; /* Centraliza horizontalmente dentro da .date-line */
    transform: translateX(-50%); /* Move metade da própria largura para a esquerda */
    background: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 120px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    z-index: 1;
}


