.privacidade-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.privacidade-container p {
    margin: 20px 50px 20px 50px;
}

.privacidade-container li {
    margin: 20px 50px 20px 50px;
}

.privacidade-container a {
    text-decoration: none;
}
.privacidade-container a:hover {
    text-decoration: underline;
}

