.contact-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-self: center;
    height: 500px;
}
.contact-container h1 {
   height: auto;
}