.skills-container {
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
 
}

.skills-container h3 {
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
}


.skills-container p {
    color: black;
}

.skills-items {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}