@import url(font-styles.css);

html, body, main {
    height: 100%; /* Garante que o fundo cubra 100% da altura da viewport */
    margin: 0; /* Remove margens padrão */
    background: linear-gradient(to bottom, #0C0C0C, #0A0017) no-repeat;
}

main img {
    width: 400px;
    height: 30px;
    
}

.navbar {
    justify-content: center;
    justify-self: center;
}

header {
    background-color: black;
}


