
footer {
    display: flex;
    background-color: #191818;
    align-items: center;
    justify-content: center;
    /* centraliza horizontalmente */
    height: 40px;
}

footer p {
    font-size: 12px;
    margin: 0;
    /* remove o padding padrão do parágrafo */
    padding: 0;
    /* remove o padding padrão do parágrafo */
}